@import "tailwindcss";

/* Instructs Tailwind v4 to trigger dark mode when the .dark class is present */
@variant dark (&:where(.dark, .dark *));

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --safe-area-inset-top: env(safe-area-inset-top);
}

body {
  background-color: #f9fafb; 
  padding-top: var(--safe-area-inset-top);
}

html.dark body {
  background-color: #111827;
}